.pageBg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  filter: blur(180px);
  z-index: -1;
}

.pageBg div {
  aspect-ratio: 1/1;
  position: absolute;
  background-image: radial-gradient(var(--color-greenBackground), transparent 100%);
  border-radius: 50%;
}

.pageBg div:first-child {
  opacity: .3;
  width: 30rem;
  top: 5rem;
  left: 10%;
}

.pageBg div:nth-child(2) {
  width: 30rem;
  top: 50%;
  left: 5%;
}

.pageBg div:nth-child(3) {
  width: 30rem;
  top: 1rem;
  left: -10%;
}

.pageBg div:nth-child(4) {
  width: 35rem;
  bottom: -10rem;
  left: -10%;
}

.pageBg div:nth-child(5) {
  width: 30rem;
  top: 0;
  right: 0;
}

.pageBg div:nth-child(6) {
  width: 100%;
  opacity: .25;
  bottom: -3rem;
  right: -10rem;
}

.page {
  padding: 1.5rem;
  max-width: 230rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100vh;
  }

}

@media (min-width: 998px) {
  .page {
    grid-template-columns: 2fr 6fr;
  }
}

@media (min-width: 1400px) {
  .page {
    grid-template-columns: 2fr 8fr;
  }
}

.aside {
  height: 100%;
  margin: .5rem;
  padding: 1.5rem;
  display: flex;
  gap: 4rem;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}



.main {
  border-radius: 15px;
  height: 100%;
  background-color: var(--color-exploreBackground);
  overflow-y: auto;
}

.headerContainerAside {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.asideHeader {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.btnUser {
  aspect-ratio: 1/1;
  background-color: rgb(0 0 0 / .9);
  border: unset;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color .3s ease;
}

.btnUser:hover {
  background-color: rgb(255 255 255 / .15);
}

/* ----- Search ----- */

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.searchGroupInput {
  display: flex;
  align-items: center;
  color: var(--color-primaryGray);
  border: unset;
  border-bottom: 1px var(--color-primaryGray) solid;
  padding: .3rem 0;
  gap: .3rem;
  position: relative;

  transition: color .3s ease, border-bottom .3s ease;
}

.searchGroupInput:focus-within,
.searchGroupInput:hover {
  color: var(--color-white);
  border-bottom: 1px var(--color-white) solid;
}

.searchInput {
  flex: 1;
  background: unset;
  border: unset;
  outline: unset;
  padding-right: 3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchGroupInput:hover .searchSubmit,
.searchGroupInput:focus-within .searchSubmit,
.searchInput:not(:placeholder-shown) + .searchSubmit {
  display: block;
}


.searchSubmit {
  position: absolute;
  display: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchSubmit input {
  display: none;
  border: unset;
  background: unset;
}

.searchGroupAi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchGroupAi span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchGroupAi > svg {
  cursor: pointer;
}

.searchGroupAi input {
  display: none;
}

/* ----- User Offers ----- */

.userOffers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.userOffers::-webkit-scrollbar {
  width: var(--sb-size);
}

.userOffers::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.userOffers::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

.offerList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offerTitle  {
  margin: .5rem 0;
  font-weight: 500;
  font-size: 1.6rem;
}

.offerList h4 {
  margin: .5rem 0;
  font-weight: 400;
}

.offerList > div::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  border-left: 1px rgb(255 255 255 / .15) solid;
}

.offerList > div {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.offerList > div {
  gap: 1rem;
}

.offerList > div * {
  margin-left: 2rem;
}

.offerList a {
  color: var(--color-primaryGray);
  padding: .5rem 0;

  transition: color .3s ease;
}

.offerList a:hover {
  color: var(--color-white);
}
