.searchByJobs {
  display: none;
  bottom: 4rem;
  left: 0;
}

@media (min-width: 768px) {
  .searchByJobs {
    display: block;
    margin: 0;
    position: absolute;
  }
}

.title {
  color: var(--color-primaryGray);
  font-weight: 400;
  font-size: 1.6rem;
}

.jobsGrid {
  display: grid;
  color: var(--color-primaryGray);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .jobsGrid {
    grid-template-columns: repeat(6, max-content);
  }
}

.jobsGrid svg {
  fill: currentColor;
}

.job {
  color: var(--color-primaryGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: .5rem;
  padding: 0 .5rem;

  transition: transform .3s ease, color .3s ease;
}

.job:hover {
  transform: translateY(-.5rem);
  color: var(--color-white)
}
