.section {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.time {
  color: rgb(var(--color-secondaryGray) / 1);
  font-size: 1.6rem;
  margin: 0;
}

.time span {
  font-size: 4rem;
  font-weight: 700;
}

.steps {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  position: relative;
  border-top: 1px rgb(0 0 0 / .1) solid;
}

.stepContainer {
  flex: 1;
  position: relative;
  border: 3px transparent solid;

  top: 50%;
  transform: translateY(-50%);
}

.stepContainer.completed {
  border: 3px var(--color-greenPrimary) solid;
}

.stepContainer .step {
  position: relative;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  aspect-ratio: 1/1;
  border: unset;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  position: absolute;
  background-color: var(--color-greenPrimary);
  color: var(--color-white);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepContainer:last-of-type {
  position: absolute;
  top: unset;
  right: 0;
}


/* ------Form Question------ */

.formAnswer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color-scheme: auto;
}

.question {
  color: rgb(var(--color-secondaryGray) / 1);
  max-width: 65ch;
  font-size: 1.8rem;
  margin: 0;
}

.answersGroup {
  border: unset;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(var(--color-secondaryGray) / 1);
  margin: 0;
  padding: 0;
}

.answersGroup textarea {
  border-radius: 5px;
  max-width: 65ch;
  background-color: unset;
  border: 1px rgb(var(--color-secondaryGray) / .2) solid;
  padding: .5rem;
  outline: unset;
}

.answersGroup textarea:hover,
.answersGroup textarea:focus-within {
  border: 1px rgb(var(--color-secondaryGray) / .8) solid;
}

.radioContainer {
  border: unset;
  background-color: unset;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

/* -------- Techincal Test -------- */

.puestoContainer {
  display: flex;
  flex-direction: column;
}

.puestoName {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(var(--color-secondaryGray) / 1);
  display: flex;
  align-items: center;
  gap: 2rem
}

.puestoName svg {
  width: 32px;
  height: 32px;
}

/* -----Interview Review-----  */
.review {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color-scheme: auto;
  max-width: 65ch;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewEdit {
  padding: 0;
  margin: 0;
  border: unset;
  background-color: unset;
  cursor: pointer;
  color: rgb(var(--color-secondaryGray) / 1);
}

.reviewTitle {
  color: rgb(var(--color-secondaryGray) / 1);
  font-size: 1.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reviewTitle svg {
  color: var(--color-greenPrimary);
}

.feedback {
  max-width: 65ch;
  color: rgb(var(--color-secondaryGray) / 1);
}

.answerFeedback {
  padding: 4rem 0;
  border-top: 1px rgb(0 0 0 / .1) solid;
  border-bottom: 1px rgb(0 0 0 / .1) solid;
}
