.cardContainer {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  border-top: 1px rgb(0 0 0 / .1) solid;

  transition: background-color .3s ease;
}

@media (min-width: 998px) {
  .card {
    padding: 4rem 3rem;
  }
}

.card:hover {
  background-color: rgb(0 0 0 / .05);
}

.cardSelect {
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.card header {
  display: flex;
  gap: 2rem;
}

@media (min-width: 998px) {
  .card header {
    gap: 2rem;
  }
}

.cardLogoContainer {
  display: block;
  aspect-ratio: 1/1;
  width: 5rem;
  height: 5rem;

}

@media (min-width: 998px) {
  .cardLogoContainer {
    width: 10rem;
    height: 10rem;
  }
}

.cardContainerSkeleton .cardLogoContainer {
  background-color: var(--color-skeletonGray);
}

.cardCompanyLogo {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(var(--color-secondaryGray) / 1);
}

@media (min-width: 998px) {
  .cardTitle {
    max-width: 30ch;
    font-size: 2.3rem;
  }
}

.cardContainerSkeleton .cardTitle {
  background-color: var(--color-skeletonGray);
  width: 30ch;
  height: 4.6rem;
}

.companyName {
  margin: 0;
  color: var(--color-greenPrimary);
  font-weight: 700;
}

.cardContainerSkeleton .companyName {
  background-color: var(--color-skeletonGray);
  width: 20ch;
  height: 2rem;
}

.cardSelect > header {
  flex: 2;
}

.cardSelect > .cardInfo {
  flex: 1;
}

.select {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
  color: rgb(var(--color-secondaryGray) / 1);
  border-bottom: 3px transparent solid;

  transition: border-color .3s ease;
}

.cardSelect:hover > .select {
  border-bottom: 3px var(--color-greenPrimary) solid;
}

.select svg {
  color: var(--color-greenPrimary);
}

.cardActions {
  display: none;
  position: absolute;
  top: 4rem;
  right: 3rem;
  gap: 1rem;
}

.cardContainerSkeleton .cardActions button {
  user-select: none;
  pointer-events: none;
  filter: grayscale(1);
  opacity: .5;
}

@media (min-width: 998px) {
  .cardActions {
    position: absolute;
    top: 4rem;
    right: 3rem;
    display: flex;
    gap: 1rem;
  }
}

.actionButton {
  background-color: unset;
  border: unset;
  color: rgb(var(--color-secondaryGray) / 1);
  border-radius: 5px;
  padding: 0;
  cursor: pointer;

  transition: background-color .3s ease;
}

.offer .actionButton {
  padding: .5rem 1rem;
}

@media (min-width: 998px) {
  .offer .actionButton {
    padding: .5rem 3rem;
  }
}

.offer .actionButton:hover:not(:disabled) {
  background-color: rgb(var(--color-secondaryGray) / .15);
}

.actionButton:disabled {
  cursor: auto;
}

.actionButton.blue svg {
  color: var(--color-blue);
}

.actionButton.purpura svg {
  color: var(--color-purpura);
}

.actionButton span {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(var(--color-secondaryGray) / 1);
}

.offer .actionButton {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3rem;
}

.offer .cardInfo {
  margin: 4rem 0;
}

.cardSelect .cardInfo {
  margin: 0;
}

@media (min-width: 998px) {
  .cardInfo {
    flex-direction: row;
    justify-content: space-between;
  }
}

.characteristicsGroup {
  display: grid;
  width: 100%;
  gap: .5rem;
}

.card .characteristicsGroup {
  width: max-content;
}

@media (min-width: 998px) {
  .characteristicsGroup {
    margin-left: 12rem;
  }

  .cardSelect .characteristicsGroup {
    margin: 0;
  }

  .offer .characteristicsGroup {
    flex: 1;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: column;
    gap: .8rem 6rem;
    margin: 0;
  }
}

.characteristic {
  display: flex;
  align-items: center;
  color: rgb(var(--color-secondaryGray) / 1);
  font-weight: 500;
  gap: 1rem;
}

.characteristic p {
  margin: 0;
  max-width: 30ch;
}

.characteristic span {
  color: var(--color-greenPrimary);
}

.characteristicSkeleton {
  background-color: var(--color-skeletonGray);
  width: 28ch;
  height: 2.4rem;
}

.shortDescription {
  margin: 0;
  max-width: 65ch;
  color: rgb(var(--color-secondaryGray) / 1);
  line-height: 2rem;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-overflow: ellipsis;
}

.cardContainerSkeleton .shortDescription {
  background-color: var(--color-skeletonGray);
  width: 100%;
  height: 12rem;
}

@media (min-width: 998px) {
  .shortDescription {
    margin: 0;
    max-width: 65ch;
    color: rgb(var(--color-secondaryGray) / 1);
    line-height: 2rem;

    -webkit-line-clamp: 6;
  }

  .offer .shortDescription {
    flex: 1;
  }
}



/* ------------ Individual Offer ------------- */


.offer {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
}

.offerHeader {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 998px) {
  .offerHeader {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.logoContainer {
  display: block;
  aspect-ratio: 1/1;
  width: 5rem;
  height: 5rem;
}

@media (min-width: 998px) {
  .logoContainer {
    width: 12rem;
    height: 12rem;
  }
}

.offerSkeleton .logoContainer {
  background-color: var(--color-skeletonGray);
}

.companyLogo {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--color-blackExplore);
}

@media (min-width: 998px) {
  .title {
    max-width: 30ch;
    font-size: 3.5rem;
  }
}

.offerSkeleton .title {
  background-color: var(--color-skeletonGray);
  height: 7rem;
  width: 30ch;
}

.offerSkeleton .companyName {
  background-color: rgb(var(--color-greenPrimaryRGB) / .7);
  width: 20ch;
  height: 2rem;
}

.offer .cardActionButton span:not(.compatibility) {
  display: block;
}

.actionsContainer {
  flex: 1;
  display: flex;
}

.offerSkeleton .actionsContainer {
  user-select: none;
  pointer-events: none;
  filter: grayscale(1);
  opacity: .5;
}

.buttonsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 998px) {
  .buttonsContainer {
    max-width: max-content;
  }
}

.info {
  margin: 4rem 0;
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.description {
  color: rgb(var(--color-secondaryGray) / 1);
}

.offerSubtitle {
  color: var(--color-blackExplore);
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 4rem;
}


@media (min-width: 998px) {
  .offerSubtitle {
    font-size: 3rem;
  }

  .offerSkeleton .offerSubtitle {
    width: 8ch;
    height: 3rem;
    background-color: var(--color-skeletonGray);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: rgb(var(--color-secondaryGray) / .15);
  color: rgb(var(--color-secondaryGray) / 1);
}

.offerSkeleton .skill {
  height: 2.5rem;
  width: 7ch;
}

.skill:hover {
  background-color: rgb(var(--color-greenPrimaryRGB) / 1);
  color: var(--color-white);
}

.info .descriptionItem {
  line-height: 2.4rem;
}

.offerSkeleton .info .descriptionItem {
  background-color: rgb(var(--color-secondaryGray) / .15);
  height: 30rem;
}

.info .listItem {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
}


/* ---------Tool Tip --------- */

.getCompatibilityContainer {
  position: relative;
}

.compatibilityToolTip {
  position: absolute;
  bottom: 120%;
  right: 0;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 3rem;
  color: var(--color-greenPrimary);
  font-weight: 700;
  width: max-content;
  max-width: 30ch;
  text-align: start;
  z-index: 100;
  display: none;
}

.cardActionButton:hover + .compatibilityToolTip,
.compatibilityToolTip:hover {
  display: block;
  animation: fadeIn 0.3s ease;
}

.actionButton:disabled + .compatibilityToolTip {
  bottom: 100%;
}

.search .compatibilityToolTip {
  bottom: unset;
  top: 110%;
  display: none;
  max-width: 100%;
}

.search:hover .compatibilityToolTip {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }

  to {
    transform: unset;
    opacity: 1;
  }
}

.cardActionButton span {
  display: none;
}

.compatibilityInfo {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(var(--color-secondaryGray) / 1);
}

.compatibilityInfo svg {
  min-width: 18px;
}

.compatibilityToolTip ul {
  padding: 0;
  list-style: inside;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(var(--color-secondaryGray) / 1);
}

.compatibilityToolTip h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgb(var(--color-secondaryGray) / 1);
}

.actionButton .compatibility {
  font-size: 1.4rem;
  font-weight: 500;
  width: 32px;
  height: 32px;
  color: var(--color-greenPrimary);
  border: 3px var(--color-greenPrimary) solid;
  border-radius: 50%;
  display: grid;
  place-items: center;
}


/* ----------- Avoid Error https://github.com/vercel/next.js/issues/33286 ---------- */
/* CSS modules dont download when are required in /search page */

.toLoadSearchStylesAndAvoidError {
  display: none;
}
