.header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > * {
  flex: 1;
}

.logoLink {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: max;
}

.logoLink img {
  max-width: 6rem;
}

.logoLink h2 {
  color: var(--color-white);
  font-weight: normal;
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border: var(--border-gray);
  border-radius: 5rem;
  padding-inline: 3rem;
}

.navigation a {
  color: var(--color-textGray);
  font-size: 1.6rem;
  padding: 1.5rem 1rem;
  transition: color .3s ease;
}

.navigation a:hover,
.navigation a:first-child {
  color: var(--color-white);
}

.loginContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.loginContainer > * {
  color: var(--color-white);
  cursor: pointer;
}

.login {
  font-weight: 500;
  background-color: unset;
  border: unset;
  transition: color .3s ease;
}

.login:hover {
  color: var(--color-textGray);
}

.register {
  font-weight: 700;
  background-color: #071408;
  border: 1px rgb(255 255 255 / .5) solid;
  border-radius: 4px;
  padding: 1.2rem 3rem;
  backdrop-filter: blur(30px);
  transition: background-color .3s ease;
}

.register:hover {
  background-color: rgba(var(--color-greenBackgroundRGB), .15);
}
